/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  position: fixed;
   left: 0;
   bottom: 0;
  background: #111;
  padding: 30px 0;
  color: #fff;


  .copyright {
    text-align: center;
  }

  .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #ccc;

  }

}
